body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #49c5b6;
    align-items:stretch;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    color: white;
    padding: 16px;
    font-size: 12px;
  }

  p {
    width: 100px;
    font-size: 10px;
    text-align: center;
  }

  button {
    background-color: #41B3A3;
    color: white;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    border-color: white;
  }
  
  .header, .footer {
    height: 72px;
    background: #E27D60;
    color:#E5E7EB;
    display: flex;
    font-size: large;
    font-weight: 600;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
  }
  
  .footer {
    align-items: center;
    justify-content: center;
    font-size: 12px;;
  }

  .box {
    border: 1px solid #eee;
    box-shadow: 2px 4px 16px rgba(0,0,0,.5);
    border-radius: 8px;
    border-color: #41B3A3;
    border-width: 2px;
    width: 100px;
    height: 100px;
    padding: 16px;
  }
  
  .container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;;
  }

  .first {
    background: #E27D60;
    color: white;

  }

  .second {
    display: flex;
    flex-direction: column;
  }

  .third {
    background: #E8A87C;
    color: black;
    display: flex;
    flex-direction: column;

  }

  .fourth {
    background-color: #C38D9E;
    color: white;
    border-radius: 8px;
  }
  
  .content {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    align-items: center;
  }